.sidebar {
    width: 220px;
    height: 100vh;
    background-color: #e5e9f0; // Light gray background
    padding: 10px;
  
    .ant-menu {
      background: transparent;
      border: none;
  
      .ant-menu-item {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #333;
        border-radius: 8px;
        transition: background 0.3s ease-in-out;
  
        &:hover {
          background-color: #d0d4db; // Slightly darker hover effect
        }
  
        &.ant-menu-item-selected {
          background-color: white;
          font-weight: bold;
        }
  
        .anticon {
          margin-right: 10px; // Spacing for icons
        }
      }
    }
  }
  