.side-menu {
  height: 90vh;
  background: #f8f9fa;

  .logo {
    color: #1890ff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 16px;
  }

  .ant-menu {
    border-right: none;
  }

  .ant-menu-item {
    font-size: 16px;
  }

  .ant-menu-item-selected {
    background-color: #1890ff !important;
    color: white !important;
  }
}
