.topnav {
  background-color: #008cff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    align-items: center;

    img {
      width: 100px;
    }
  }

  .search-bar {
    display: flex;
    align-items: center;
    gap: 10px;

    .ant-input-search {
      width: 300px;

      input {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      .ant-btn {
        padding: 8px 15px;
        border: none;
        background-color: #ffffff;
        color: #333;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
      }
    }
  }

  .nav-icons {
    display: flex;
    align-items: center;
    gap: 15px;

    i {
      font-size: 20px;
      color: #000000;
      cursor: pointer;
    }

    .ant-btn {
      padding: 8px 15px;
      border-radius: 5px;
    }
  }
}