.modal-content {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 600px;
  max-width: 90vw;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.scrollable::-webkit-scrollbar {
  width: 6px;
}
.scrollable::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.modal-section {
  margin-bottom: 20px;

  h3 {
    font-size: 18px;
    color: #24067e;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    color: #333;
    margin: 4px 0;
  }
}

.modal-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 10px;

  div {
    font-size: 14px;
    color: #333;
  }
}
